<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatai.special.dao.UserInfoDao" >
  <resultMap id="userInfoResult" type="com.huatai.special.model.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result property="isDeleteFlag" column="is_delete_flag" jdbcType="BIT" javaType="java.lang.Boolean"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, password, salt, name, city_id, city, tel, phone, email, create_time, 
    update_time,is_delete_flag
  </sql>
  <select id="getUserInfoById" resultMap="userInfoResult" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huatai.special.model.UserInfo" >
    insert into t_user_info (id, user_name, password, 
      salt, name, city_id, 
      city, tel, phone, email, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{cityId,jdbcType=BIGINT}, 
      #{city,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertUserInfo" parameterType="com.huatai.special.model.UserInfo" >
    insert into t_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateUserInfo" parameterType="com.huatai.special.model.UserInfo" >
    update t_user_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="city != null and city != ''" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huatai.special.model.UserInfo" >
    update t_user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=BIGINT},
      city = #{city,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteUserInfo" parameterType="java.lang.Long" >
  	update t_user_info set is_delete_flag = 1 where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectUserInfoByUserName" parameterType="String" resultMap="userInfoResult">
  	 select 
	    <include refid="Base_Column_List"></include>
	    from t_user_info   
	    where  is_delete_flag = 0 and
	        user_name = #{userName}
  </select>
  
  <select id="selectUserInfoLimit" parameterType="MyPage" resultMap="userInfoResult">
		select 
	    <include refid="Base_Column_List" />
	    from t_user_info u
	    <where>
	    	is_delete_flag = 0
	    	<if test="params.userName != null and params.userName != '' ">
	    		and u.user_name like #{params.userName}
	    	</if>
	    	<if test="params.cityId != null and params.cityId != '' ">
	    		and u.city_id = #{params.cityId}
	    	</if>
	    </where>
	</select>
</mapper>